<div class="body">
<footer>
    <div class="social-media">
      <a href="#"><img src="whatsapp-icon.png" alt="WhatsApp"></a>
      <a href="#"><img src="youtube-icon.png" alt="YouTube"></a>
      <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
      <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
    </div>
    <div class="footer-links">
      <a href="#">Contact</a>
      <span>|</span>
      <a href="#">Disclaimer</a>
      <span>|</span>
      <a href="#">Privacy Policy</a>
    </div>
    <div class="copyright">
      &copy; 2020 EZ Franchise, Pvt. Ltd. All rights reserved.
    </div>
  </footer>
</div>
