<header class="navbar">
    <div class="right-nav">
    <div class="logo">
        <a href="#"><img src="ez-franchise-logo.png" alt="ez-franchise"></a>
    </div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Available Franchises</a></li>
            <li><a href="#">Franchising Guide</a></li>

        </ul>
    </nav>
    </div>
    <div class="left-nav">
        <nav class="Options">
        <ul>
        <li><a href="#">Apply for Franchise</a></li>
        <div>|</div>
        <li><a href="#">Add your Franchise</a></li>
    </ul>
</nav>
    
    <div class="user-icon">
        <a href="#"><img src="user-icon.png" alt="User"></a>
    </div>
    </div>

</header>
  
